.middle {
    position: relative;
    height: 200px;
    width: 400px;
    color: white;
    text-align: center;
}
body {

    /*  #202A25; */
    background-color: #282c34;
}

#LinkPlacement {
    color: white;
}

.link-container {

    width: 200px;
    height: 50px;
    border: 2px solid #719178; /* Colored border */
    border-radius: 10px; /* Semi-rounded edges */
    background-color: #84A98C; /* Background color */
    margin-top: 10px; 
    margin-bottom: 10px; /* Adjust the margin as needed */
    padding: 10px;
}
.link-container:hover {

        box-shadow: 0 .5em .5em -.04em #9DBEBB;
        transform: translateY(-.25em);
        cursor: pointer;  
}

.link {

    color: whitesmoke; /* Change "blue" to the desired color */
    text-decoration: none;
}

/* Add this CSS to hide the scrollbar in webkit-based browsers */
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
    background: transparent; /* Set background to transparent */
  }
  
  /* Optional: You can also style the thumb and track if needed */
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Set thumb color to transparent */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Set track color to transparent */
  }

.settings {
  text-align: center;
}

.settings-box {
  background-color: rgba(40, 44, 52, 0.8); /* Adjust the color and opacity as needed */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.settings-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.settings-link {
  color: #61dafb;
}

.settings-button {
  position: absolute;
  top: 10px; /* Adjust the top value as needed */
  right: 10px; /* Adjust the right value as needed */
  padding: 10px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
}

.welcome {
  /*min-height: calc(100vh - 40px); Adjusted to leave space for the centered content */
  right: 50%;
  top: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}