.middle {
    position: relative;
    height: 200px;
    width: 400px;
    color: white;
    text-align: center;
}

body {

    /*  #202A25; */
    background-color: #836EAA;
}

#LinkPlacement {
    color: white;
}

.link-container {

    width: 200px;
    height: 50px;
    border: 2px solid #719178; /* Colored border */
    border-radius: 10px; /* Semi-rounded edges */
    background-color: #E4E0EE; /* Background color */
    margin-top: 10px; 
    margin-bottom: 10px; /* Adjust the margin as needed */
    padding: 10px;
}
.link-container:hover {

        box-shadow: 0 .5em .5em -.04em #4E2A84;
        transform: translateY(-.25em);
        cursor: pointer;  
}

.link {

    color: whitesmoke; /* Change "blue" to the desired color */
    text-decoration: none;
}

/* Add this CSS to hide the scrollbar in webkit-based browsers */
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
    background: transparent; /* Set background to transparent */
  }
  
  /* Optional: You can also style the thumb and track if needed */
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Set thumb color to transparent */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Set track color to transparent */
  }

.settings {
  text-align: center;
}

.settings-box {
  background-color: rgba(75, 97, 141, 0.8); /* Adjust the color and opacity as needed */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: white;
}

.settings-header {
  /* default background-color: #282c34; */
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  /* tab group */
  overflow-y: auto;
  max-height: 100%;
  align-items: flex-start;
  -webkit-overflow-scrolling: touch;

}

.settings-link {
  color: #61dafb;
}

.settings-button {
  position: absolute;
  top: 10px; /* Adjust the top value as needed */
  right: 10px; /* Adjust the right value as needed */
  padding: 10px;
  /* background-image: url"purple_gear_final.png"; */
  /* color: white; */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.welcome {
  /*min-height: calc(100vh - 40px); Adjusted to leave space for the centered content */
  /* justify-content: center; Center content vertically */
  /* align-items: center; Center content horizontally */
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-family: cursive;
}

.create-button {
  background-color: #836EAA;
  border: solid #4E2A84 5px; 
  font-family: cursive;
  color: white;
  width: 150px;
  height: 45px;
  margin-bottom: 20px;
  transition: all .25s;
}

.create-button:hover{

  transform: translateY(-10px)
}

.submit-button {
  background-color: #588157;
  color: white;
  border: none;
  cursor: pointer;
  height: 20px;
  border-radius: 5px;
  margin: auto;
}
  .textInput {
    width: 80px; 
    height: 40px;
    transition: width 0.5s ease-in-out;
    box-shadow: #4E2A84 0px 5px 15px;
    margin-bottom: 20px;
    text-align: center;
  }
  .textInput:focus {
    width: 100%;
  }
  .UI {
    margin: auto;
    margin-top: 100px; 
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E0EE;
    border: solid #4E2A84 10px; 
    border-radius: 10px;
    padding: 20px;

  }